.cartItem {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr repeat(3, 0.5fr);
    grid-column-gap: 20px;
    padding: 20px;
    align-items: center;
    text-align: left;
    img {
        padding-top: 20px;
        width: 200px;
    }

    .title {
        color: white;
    }

    button {
        height: 50px;
        background-color: #78e3eb;
    }
    button:hover {
        background-color: #08c5f5;
        transition: background-color 0.3s ease;
    }
    p{
        text-align: center;
    }
}
